asgiref==3.7.2
Django==5.0.3
django-admin-rangefilter==0.12.4
et-xmlfile==1.1.0
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.3.0
mysqlclient==2.2.4
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.2
pillow==10.2.0
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2024.1