@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font {
    font-family: "Poppins", sans-serif;
}

.welcome_text {
    font-family: "Poppins", sans-serif;
    font-weight: 275;
    font-size: 35px;
}

body {
    background: linear-gradient(135deg, #feffff 0%, #feffff 70%, #d2ebf9 100%);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.team_lead_name {
    font-family: "Poppins", sans-serif;
    color: #24A9E1;
    font-weight: 900;
    font-size: 35px;
}

.submitted_count_text {
    font-size: 20px;
}

.submitted_count {
    color: #24A9E1;
    font-weight: 800;
}

.your_team_text {
    color: #B3B3B3;
    font-weight: 400;
    font-size: 15px;
}

.employee_name {
    font-weight: 500;
    font-size: 25px;
    line-height: 37.5px;
    list-style: none;
}

.employee_id {
    color: #24A9E1;
    font-weight: 450;
    font-size: 20px;
    line-height: 37.5px;
}

.team_name_and_role {
    font-weight: 500;
    font-size: 20px;
    line-height: 37.5px;
    margin-top: -15px;

}

.role {
    color: #8C8C8C;
    font-weight: 500;
    font-size: 15px;
    line-height: 37.5px;
    margin-top: -15px;
    list-style: none;
}

.employee-details {
    flex: 1;
    padding: 10px 0;
}

.employee-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
}

.employee-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
    box-sizing: border-box;
}

.submit {
    background-color: #24A9E1;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.submit:hover {
    background-color: #2098CA;
    color: white;
}

.edit_evaluation {
    background-color: grey;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.edit_evaluation:hover {
    background-color: #5A5A5A;
}

.view_evaluation {
    background-color: #7c7c7c;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.view_evaluation:hover {
    background-color: #6f6f6f;
    color: white;
}

@media (max-width: 768px) {
    .employee-item {
        flex: 1 1 100%;
    }

    .employee_padding {
        padding-left: 0;
    }

    .submit,
    .edit_evaluation,
    .view_evaluation {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
}