@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font{
    font-family: "Poppins", sans-serif;
}

.evaluation_form{
    color: #24A9E1;
    font-weight: 700;
    font-size: 35px;
}
.evaluation_form_details{
    font-size: 35px;
    font-weight: 200;
}
.experience-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px; 
    margin-top: 30px;
}

.experience-item {
    flex: 1;
    text-align: center;
    padding: 10px; 
}

.experience-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.experience-count{
    color: #24A9E1;
    font-weight: 800;
    font-size: 25px;
    line-height: 37.5px;
}

.month-dropdown{
    width: 300px; 
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #dcdcdc;
}
.month{
    margin-top: 30px;
    font-size: 35px;
    font-weight: 600;
}
.previous_month{
    font-size: 35px;
    color: #24A9E1;
    font-weight: 600;
}
.previous-months{
    font-size: 15px;
}
.previous_evaluation_text{
    font-size: 25px;
}
.previous-evaluations-container {
    margin-bottom: 50px;
    margin-top: 30px;
}

.previous-evaluations-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc; /* Light border */
}

.previous-evaluations-row {
    display: table-row;
}

.evaluation-label,
.evaluation-content {
    display: table-cell;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Light border for rows */
    vertical-align: middle;
}

.evaluation-label {
    font-size: 18px;
    font-weight: bold;
}

.evaluation-content {
    color: #24A9E1;
    font-weight: 500;
    font-size: 20px;
}

.previous-evaluations-row:hover {
    background-color: #f0f0f0;
}

.evaluation-button {
    background-color: #24A9E1;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 8px 20px;
    margin-left: 20px;
}

.evaluation-button:hover {
    background-color: #2098CA;
    color: white;
}

.form-container{
    margin-top: 50px;
}
.form-feilds{
    font-weight: 500;
    font-size: 25px;
    line-height: 37.5px;
    margin-bottom: 5px;
    margin-top: 20px;
}

    input#id_tl_marks {
        width: 300px; 
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #dcdcdc;
    }

    select#id_evaluation_for {
        width: 200px; 
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #dcdcdc;
    }

    textarea#id_feedback {
        width: 40%; 
        height: 100px; 
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #dcdcdc;
        
    }
.evaluation_for{
    font-size: 25px;;
    
}
.evaluation_for_month{
    color: #24A9E1;
    font-weight: 800;
    font-size: 25px;
    line-height: 37.5px;
}

.submit{
    background-color: #24A9E1;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 10px 50px;
}
.submit:hover{
    background-color: #2098CA;
    color: white;
}
