
{% extends 'base.html' %}
{% load static %}
{% block title %}Edit MVP | {% endblock title %}
{% block content %}
<link rel="stylesheet" href={% static 'css/mvp-edit.css' %}>
<h1 class="font text mvp-edit">Edit <span class="mvp">MVP / Product</span></h1>
<div class="form-edit">
    <form method="post" class="font text" id="editForm">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group">
                <h3 class="font text">MVP Name:</h3>
                <div class="font text">{{ form.name }}</div>
            </div>
            <div class="form-group">
                <h3 class="font text">Start Date:</h3>
                <div class="font text">{{ form.start_date }}</div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <h3 class="font text">Current Phase:</h3>
                <div class="font text">{{ form.current_phase }}</div>
            </div>
            <div class="form-group">
                <h3 class="font text">Status:</h3>
                <div class="d-flex align-items-center font text">
                    <p class="mb-0">Active:</p>
                    <div>{{ form.is_active }}</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <h3 class="font text">End Date:</h3>
                <div class="font text">{{ form.end_date }}</div>
            </div>
            <div class="form-group">
                <h3 class="font text">Developers:</h3>
                <div class="font text">{{ form.developers }}</div>
            </div>
        </div>
        <div class="form-row">

            <div class="form-group">
                <h3 class="font text">Planners:</h3>
                <div class="font text">{{ form.planners }}</div>
            </div>
        </div>
        <button type="button" class="btn font save_changes_button" id="saveChangesBtn">Save changes</button>
    </form>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to save changes?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn save_changes_button" id="confirmChangesBtn">Ok</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#saveChangesBtn').click(function() {
            $('#confirmModal').modal('show');
        });

        $('#confirmChangesBtn').click(function() {
            $('#editForm').submit(); 
        });
    });
</script>
{% endblock %}
