{% extends 'base.html' %}
{% block content %}
  <style>
    .employee-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .employee-item:nth-child(even) {
      background-color: rgba(128, 128, 128, 0.1); /* Greyish transparent background */
    }

    .employee-details {
      flex: 1;
    }

    .submit-button {
      margin-left: 10px; /* Add space between employee details and button */
    }
  </style>
  <body>
    {% if user.is_authenticated %}
      <h1>Welcome, {{ team_lead.employee_name }}</h1>
      <h2 style="margin-bottom: 20px;">Your Team</h2>
      <ul>
        {% for employee in employees %}
          <div class="employee-item">
            <div class="employee-details">
              <li style="margin-bottom: 10px; font-size: 20px;">{{ employee.employee_name }} ({{ employee.employee_id }})</li>
              <li style="list-style: none;">Role: {{employee.role}}</li>
              <li style="margin-bottom: 10px; list-style: none;">Team: {{employee.team}}</li>
            </div>
            <div class="submit-button">
              <form method="post" action="{% url 'evaluation' %}?employee_id={{ employee.employee_id }}">
                {% csrf_token %}
                <input type="hidden" name="employee_id" value="{{ employee.employee_id }}" />
                <input type="hidden" name="employee_name" value="{{ employee.employee_name }}" />

                <input class="btn btn-primary" type="submit" value="Submit Evaluation" />
              </form>
            </div>
          </div>
        {% endfor %}
      </ul>
    {% endif %}
  </body>
{% endblock %}
