{% extends 'base.html' %}
{% block content %}
  <style>
    .employee-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .submit-button {
      margin-left: 10px;
    }
  </style>
  <head>
    <link rel="stylesheet" href="static/css/dashboard.css">
  </head>

  <title>{% block title %}Dashboard | {% endblock title %}</title>
  <body>
    {% if user.is_authenticated %}
      <h1 class="welcome_text">Welcome, <span class="team_lead_name">{{ team_lead.employee_name }}</span></h1>
      <h2 style="margin-bottom: 20px;" class="font your_team_text">The team that is working under your direct supervision and guidance.</h2>
      <ul>
        {% for employee in employees %}
          <div class="employee-item">
            <div class="employee-details">
              <li style="margin-bottom: 10px; font-size: 20px;" class="font employee_name">{{ employee.employee_name }} <span class="employee_id">({{ employee.employee_id }})</span></li>
              <li style="margin-bottom: 10px; list-style: none;" class="font team_name_and_role"> Team: {{ employee.team }} <span class="role">Role: {{ employee.role }}</span></li>
            </div>
            {% if show_evaluation %}
            <form method="post" action="{% url 'evaluation' %}?employee_id={{ employee.employee_id }}">
              {% csrf_token %}
              <input type="hidden" name="employee_id" value="{{ employee.employee_id }}" />
              <input type="hidden" name="employee_name" value="{{ employee.employee_name }}" />
              <input class="btn submit" type="submit" value="View Evaluation" />
            </form>
            {% else %}
            <div class="submit-button">
              {% if employee.employee_id in submitted_employees %}
                <form method="post" action="{% url 'evaluation' %}?employee_id={{ employee.employee_id }}">
                  {% csrf_token %}
                  <input type="hidden" name="employee_id" value="{{ employee.employee_id }}" />
                  <input type="hidden" name="employee_name" value="{{ employee.employee_name }}" />
                  <input class="btn edit_evaluation" type="submit" value="Edit Evaluation" />
                </form>
              {% else %}
                <form method="post" action="{% url 'evaluation' %}?employee_id={{ employee.employee_id }}">
                  {% csrf_token %}
                  <input type="hidden" name="employee_id" value="{{ employee.employee_id }}" />
                  <input type="hidden" name="employee_name" value="{{ employee.employee_name }}" />
                  <input class="btn submit" type="submit" value="Submit Evaluation" />
                </form>
              {% endif %}
            </div>
            {% endif %}
          </div>
        {% endfor %}
      </ul>
    {% endif %}
  </body>
{% endblock %}